<div class="">
  <div class="location-widget">
    <img class="img-responsive" src="http://via.placeholder.com/350x150" alt="" />
  </div>
  <div class="location-widget">
    <input type="text" class="form-control" name="location" value="" placeholder="Location"/>
  </div>
  <div class="location-widget">
    <ul class="list-group">
      <li class="list-group-item">Category</li>
      <li class="list-group-item">Type</li>
      <li class="list-group-item">etc</li>
    </ul>
  </div>
  <div class="location-button">
    <button type="button" class="btn btn-block btn-primary" name="button">Search</button>
  </div>
</div>
